.WeatherTemperature {
  margin-left: 10px;
}

.WeatherTemperature-temp {
  font-size: 54px;
  line-height: 1;
  font-weight: bold;
  display: flex;
}

.WeatherTemperature-unit {
  align-self: start;
  font-size: 18px;
}
