.WeatherForecast ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.WeatherForecast li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(246, 246, 206, 0.51) 0%,
    rgb(188, 214, 246) 100%
  );
}

.WeatherForecast li:not(:last-child) {
  border-right: 1px solid #cac8c8;
}

.WeatherForecastTempWrap {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.WeatherForecastTemp-max {
  color: #1d1d43;
}

.WeatherForecastTemp-min {
  font-size: 15px;
}
