.WeatherTemperature {
  margin-left: 10px;
}
.WeatherTemperature .temp {
  font-size: 26px;
}

.WeatherTemperature .active {
  color: #517fe1;
}

.WeatherTemperature a {
  margin: 0 5px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
